body {
    margin: 0;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    color: #eee;
}

:root {
    --width: min(1200px, 100%);
}

* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header styling */
header {
    width: var(--width);
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    padding-inline: 20px;
}


header .logo img {
    height: 80px;
    object-fit: cover;
}

/* Menu toggle styles */
.menu-toggle {
    display: none; /* Hidden by default */
    flex-direction: column;
    cursor: pointer;
    position: absolute; /* Positioning it at the corner */
    top: 15px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    z-index: 15; /* Ensure it's above other elements */
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #eee;
    margin: 4px;
    transition: 0.3s;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0; /* Hide the middle bar */
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Header active state */
header nav ul {
    display: flex;
    gap: 2em;
    color: white;
    
}
#nav-list li a {
    text-decoration: none; /* إزالة الخطوط */
    color: white; /* جعل اللون أبيض */
}
header nav ul li.active {
    border-bottom: 1px solid #eee8;
}