body {
    font-family: 'Poppins', sans-serif;
    background-color:black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.card h2{
    color: black;
}
.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.question-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
    border: 10px solid whitesmoke;
    padding: 20px;
    
    
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}

.hidden {
    display: none;
}
